.accordion {
    width: center;
    margin: 10px ;
    border: 5px solid #B2DF27;
}

.back {
    text-align: center;
    background-image: url("https://images.alphacoders.com/133/thumb-1920-1330376.png");
    background-size: cover;
}

.heading {
   height: 299px;
}

.image {
    width: 500px;
    border: #B2DF27 solid 5px;
}

#title1,#title3{

    font-family: 'creepster', cursive;
    font-size: 28px;
    background-color: #B2DF27;
}

#title,#title2,#title4{
    font-family: 'creepster', cursive;
    font-size: 28px;
    background-color: #01B5CC;
}

